html {
    font-family: 'Lato', sans-serif;
    background-color: #eefcff;
}

#logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lobster', cursive;
    font-size: 48pt;
}

#content {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 800px;
}

img.rightfloat {
    float: right;
    margin-left: 10px;
}

div.float-right {
    font-size: x-small;
    text-align: left;
    float: right;
    width: auto;
    margin-left: 10px;
}

div#datetime {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-small;
    clear: both;
}

div.gallery {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.gallery {
    border: 2px solid black;
    border-radius: 5%;
    margin: 10px;
}